<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
 
<body>
	<h2>Olá mundo</h2>
</body>

<script>

	function cidade() {
		var nome;
		var uf;
		var atualizacao;
		previsao = [];
	}
	
	function previsao(){
		var dia;
		var tempo;
		var maxima;
		var minima;
		var iuv;		 
	}
			 
 	 
	let url = "http://servicos.cptec.inpe.br/XML/cidade/7dias/244/previsao.xml/";
	$.get( url, function(data) {		 
		 

		console.log(pre);
	});

	
		  
</script>